# Lambda build artifacts
bootstrap
*.pdf
*.txt
!receipt-worker/receipt/testdata/*.txt
*.zip

# Terraform
infrastructure/.terraform/
infrastructure/terraform.tfstate*
infrastructure/artifacts/

# Lambda layer
infrastructure/layer/
